[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.flap.bird
Exec=/usr/bin/com.flap.bird
Name=dFlap
Name[ru]=диФлап

[X-Application]
Permissions=Internet;WebView;
OrganizationName=com.flap
ApplicationName=dflap